<template>
  <div>
    <h2 id="page-heading" data-cy="PlanteHeading">
      <span v-text="$t('monpotagerApp.plante.home.title')" id="plante-heading">Plantes</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('monpotagerApp.plante.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PlanteCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-plante"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('monpotagerApp.plante.home.createLabel')"> Create a new Plante </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && plantes && plantes.length === 0">
      <span v-text="$t('monpotagerApp.plante.home.notFound')">No plantes found</span>
    </div>
    <div class="table-responsive" v-if="plantes && plantes.length > 0">
      <table class="table table-striped" aria-describedby="plantes">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('monpotagerApp.plante.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('variete')">
              <span v-text="$t('monpotagerApp.plante.variete')">Variete</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'variete'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('monpotagerApp.plante.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('espacement')">
              <span v-text="$t('monpotagerApp.plante.espacement')">Espacement</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'espacement'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('espacementRang')">
              <span v-text="$t('monpotagerApp.plante.espacementRang')">Espacement Rang</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'espacementRang'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('ensoleillement')">
              <span v-text="$t('monpotagerApp.plante.ensoleillement')">Ensoleillement</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'ensoleillement'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('arrosage')">
              <span v-text="$t('monpotagerApp.plante.arrosage')">Arrosage</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'arrosage'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('debutPlantation')">
              <span v-text="$t('monpotagerApp.plante.debutPlantation')">Debut Plantation</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'debutPlantation'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('finPlantation')">
              <span v-text="$t('monpotagerApp.plante.finPlantation')">Fin Plantation</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'finPlantation'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('debutRecolte')">
              <span v-text="$t('monpotagerApp.plante.debutRecolte')">Debut Recolte</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'debutRecolte'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('finRecolte')">
              <span v-text="$t('monpotagerApp.plante.finRecolte')">Fin Recolte</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'finRecolte'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('debutSemis')">
              <span v-text="$t('monpotagerApp.plante.debutSemis')">Debut Semis</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'debutSemis'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('finSemis')">
              <span v-text="$t('monpotagerApp.plante.finSemis')">Fin Semis</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'finSemis'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('categorie')">
              <span v-text="$t('monpotagerApp.plante.categorie')">Categorie</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'categorie'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('image')">
              <span v-text="$t('monpotagerApp.plante.image')">Image</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'image'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="plante in plantes" :key="plante.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PlanteView', params: { planteId: plante.id } }">{{ plante.id }}</router-link>
            </td>
            <td>{{ plante.nom }}</td>
            <td>{{ plante.variete }}</td>
            <td v-text="$t('monpotagerApp.typePlante.' + plante.type)">{{ plante.type }}</td>
            <td>{{ plante.espacement }}</td>
            <td>{{ plante.espacementRang }}</td>
            <td v-text="$t('monpotagerApp.exposition.' + plante.ensoleillement)">{{ plante.ensoleillement }}</td>
            <td v-text="$t('monpotagerApp.frequenceArrosage.' + plante.arrosage)">{{ plante.arrosage }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.debutPlantation)">{{ plante.debutPlantation }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.finPlantation)">{{ plante.finPlantation }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.debutRecolte)">{{ plante.debutRecolte }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.finRecolte)">{{ plante.finRecolte }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.debutSemis)">{{ plante.debutSemis }}</td>
            <td v-text="$t('monpotagerApp.mois.' + plante.finSemis)">{{ plante.finSemis }}</td>
            <td v-text="$t('monpotagerApp.categoriePlante.' + plante.categorie)">{{ plante.categorie }}</td>
            <td>{{ plante.image }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PlanteView', params: { planteId: plante.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PlanteEdit', params: { planteId: plante.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(plante)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="monpotagerApp.plante.delete.question" data-cy="planteDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-plante-heading" v-text="$t('monpotagerApp.plante.delete.question', { id: removeId })">
          Are you sure you want to delete this Plante?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-plante"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePlante()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./plante.component.ts"></script>
