<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="plante">
        <h2 class="jh-entity-heading" data-cy="planteDetailsHeading">
          <span v-text="$t('monpotagerApp.plante.detail.title')">Plante</span> {{ plante.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.plante.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ plante.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.variete')">Variete</span>
          </dt>
          <dd>
            <span>{{ plante.variete }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.typePlante.' + plante.type)">{{ plante.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.espacement')">Espacement</span>
          </dt>
          <dd>
            <span>{{ plante.espacement }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.espacementRang')">Espacement Rang</span>
          </dt>
          <dd>
            <span>{{ plante.espacementRang }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.ensoleillement')">Ensoleillement</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.exposition.' + plante.ensoleillement)">{{ plante.ensoleillement }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.arrosage')">Arrosage</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.frequenceArrosage.' + plante.arrosage)">{{ plante.arrosage }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.debutPlantation')">Debut Plantation</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.debutPlantation)">{{ plante.debutPlantation }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.finPlantation')">Fin Plantation</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.finPlantation)">{{ plante.finPlantation }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.debutRecolte')">Debut Recolte</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.debutRecolte)">{{ plante.debutRecolte }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.finRecolte')">Fin Recolte</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.finRecolte)">{{ plante.finRecolte }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.debutSemis')">Debut Semis</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.debutSemis)">{{ plante.debutSemis }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.finSemis')">Fin Semis</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.mois.' + plante.finSemis)">{{ plante.finSemis }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.categorie')">Categorie</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.categoriePlante.' + plante.categorie)">{{ plante.categorie }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plante.image')">Image</span>
          </dt>
          <dd>
            <span>{{ plante.image }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="plante.id" :to="{ name: 'PlanteEdit', params: { planteId: plante.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./plante-details.component.ts"></script>
