<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.plante.home.createOrEditLabel"
          data-cy="PlanteCreateUpdateHeading"
          v-text="$t('monpotagerApp.plante.home.createOrEditLabel')"
        >
          Create or edit a Plante
        </h2>
        <div>
          <div class="form-group" v-if="plante.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="plante.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.nom')" for="plante-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="plante-nom"
              data-cy="nom"
              :class="{ valid: !$v.plante.nom.$invalid, invalid: $v.plante.nom.$invalid }"
              v-model="$v.plante.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.variete')" for="plante-variete">Variete</label>
            <input
              type="text"
              class="form-control"
              name="variete"
              id="plante-variete"
              data-cy="variete"
              :class="{ valid: !$v.plante.variete.$invalid, invalid: $v.plante.variete.$invalid }"
              v-model="$v.plante.variete.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.type')" for="plante-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.plante.type.$invalid, invalid: $v.plante.type.$invalid }"
              v-model="$v.plante.type.$model"
              id="plante-type"
              data-cy="type"
            >
              <option
                v-for="typePlante in typePlanteValues"
                :key="typePlante"
                v-bind:value="typePlante"
                v-bind:label="$t('monpotagerApp.typePlante.' + typePlante)"
              >
                {{ typePlante }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.espacement')" for="plante-espacement">Espacement</label>
            <input
              type="number"
              class="form-control"
              name="espacement"
              id="plante-espacement"
              data-cy="espacement"
              :class="{ valid: !$v.plante.espacement.$invalid, invalid: $v.plante.espacement.$invalid }"
              v-model.number="$v.plante.espacement.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.espacementRang')" for="plante-espacementRang"
              >Espacement Rang</label
            >
            <input
              type="number"
              class="form-control"
              name="espacementRang"
              id="plante-espacementRang"
              data-cy="espacementRang"
              :class="{ valid: !$v.plante.espacementRang.$invalid, invalid: $v.plante.espacementRang.$invalid }"
              v-model.number="$v.plante.espacementRang.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.ensoleillement')" for="plante-ensoleillement"
              >Ensoleillement</label
            >
            <select
              class="form-control"
              name="ensoleillement"
              :class="{ valid: !$v.plante.ensoleillement.$invalid, invalid: $v.plante.ensoleillement.$invalid }"
              v-model="$v.plante.ensoleillement.$model"
              id="plante-ensoleillement"
              data-cy="ensoleillement"
            >
              <option
                v-for="exposition in expositionValues"
                :key="exposition"
                v-bind:value="exposition"
                v-bind:label="$t('monpotagerApp.exposition.' + exposition)"
              >
                {{ exposition }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.arrosage')" for="plante-arrosage">Arrosage</label>
            <select
              class="form-control"
              name="arrosage"
              :class="{ valid: !$v.plante.arrosage.$invalid, invalid: $v.plante.arrosage.$invalid }"
              v-model="$v.plante.arrosage.$model"
              id="plante-arrosage"
              data-cy="arrosage"
            >
              <option
                v-for="frequenceArrosage in frequenceArrosageValues"
                :key="frequenceArrosage"
                v-bind:value="frequenceArrosage"
                v-bind:label="$t('monpotagerApp.frequenceArrosage.' + frequenceArrosage)"
              >
                {{ frequenceArrosage }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.debutPlantation')" for="plante-debutPlantation"
              >Debut Plantation</label
            >
            <select
              class="form-control"
              name="debutPlantation"
              :class="{ valid: !$v.plante.debutPlantation.$invalid, invalid: $v.plante.debutPlantation.$invalid }"
              v-model="$v.plante.debutPlantation.$model"
              id="plante-debutPlantation"
              data-cy="debutPlantation"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.finPlantation')" for="plante-finPlantation"
              >Fin Plantation</label
            >
            <select
              class="form-control"
              name="finPlantation"
              :class="{ valid: !$v.plante.finPlantation.$invalid, invalid: $v.plante.finPlantation.$invalid }"
              v-model="$v.plante.finPlantation.$model"
              id="plante-finPlantation"
              data-cy="finPlantation"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.debutRecolte')" for="plante-debutRecolte"
              >Debut Recolte</label
            >
            <select
              class="form-control"
              name="debutRecolte"
              :class="{ valid: !$v.plante.debutRecolte.$invalid, invalid: $v.plante.debutRecolte.$invalid }"
              v-model="$v.plante.debutRecolte.$model"
              id="plante-debutRecolte"
              data-cy="debutRecolte"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.finRecolte')" for="plante-finRecolte">Fin Recolte</label>
            <select
              class="form-control"
              name="finRecolte"
              :class="{ valid: !$v.plante.finRecolte.$invalid, invalid: $v.plante.finRecolte.$invalid }"
              v-model="$v.plante.finRecolte.$model"
              id="plante-finRecolte"
              data-cy="finRecolte"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.debutSemis')" for="plante-debutSemis">Debut Semis</label>
            <select
              class="form-control"
              name="debutSemis"
              :class="{ valid: !$v.plante.debutSemis.$invalid, invalid: $v.plante.debutSemis.$invalid }"
              v-model="$v.plante.debutSemis.$model"
              id="plante-debutSemis"
              data-cy="debutSemis"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.finSemis')" for="plante-finSemis">Fin Semis</label>
            <select
              class="form-control"
              name="finSemis"
              :class="{ valid: !$v.plante.finSemis.$invalid, invalid: $v.plante.finSemis.$invalid }"
              v-model="$v.plante.finSemis.$model"
              id="plante-finSemis"
              data-cy="finSemis"
            >
              <option v-for="mois in moisValues" :key="mois" v-bind:value="mois" v-bind:label="$t('monpotagerApp.mois.' + mois)">
                {{ mois }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.categorie')" for="plante-categorie">Categorie</label>
            <select
              class="form-control"
              name="categorie"
              :class="{ valid: !$v.plante.categorie.$invalid, invalid: $v.plante.categorie.$invalid }"
              v-model="$v.plante.categorie.$model"
              id="plante-categorie"
              data-cy="categorie"
            >
              <option
                v-for="categoriePlante in categoriePlanteValues"
                :key="categoriePlante"
                v-bind:value="categoriePlante"
                v-bind:label="$t('monpotagerApp.categoriePlante.' + categoriePlante)"
              >
                {{ categoriePlante }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plante.image')" for="plante-image">Image</label>
            <input
              type="text"
              class="form-control"
              name="image"
              id="plante-image"
              data-cy="image"
              :class="{ valid: !$v.plante.image.$invalid, invalid: $v.plante.image.$invalid }"
              v-model="$v.plante.image.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.plante.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./plante-update.component.ts"></script>
