<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.plantation.home.createOrEditLabel"
          data-cy="PlantationCreateUpdateHeading"
          v-text="$t('monpotagerApp.plantation.home.createOrEditLabel')"
        >
          Create or edit a Plantation
        </h2>
        <div>
          <div class="form-group" v-if="plantation.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="plantation.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plantation.indexParcelle')" for="plantation-indexParcelle"
              >Index Parcelle</label
            >
            <input
              type="number"
              class="form-control"
              name="indexParcelle"
              id="plantation-indexParcelle"
              data-cy="indexParcelle"
              :class="{ valid: !$v.plantation.indexParcelle.$invalid, invalid: $v.plantation.indexParcelle.$invalid }"
              v-model.number="$v.plantation.indexParcelle.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.plantation.parcelle')" for="plantation-parcelle">Parcelle</label>
            <select class="form-control" id="plantation-parcelle" data-cy="parcelle" name="parcelle" v-model="plantation.parcelle">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="plantation.parcelle && parcelleOption.id === plantation.parcelle.id ? plantation.parcelle : parcelleOption"
                v-for="parcelleOption in parcelles"
                :key="parcelleOption.id"
              >
                {{ parcelleOption.nom }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.plantation.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./plantation-update.component.ts"></script>
