<template>
  <div>
    <h2 id="page-heading" data-cy="PlantationHeading">
      <span v-text="$t('monpotagerApp.plantation.home.title')" id="plantation-heading">Plantations</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('monpotagerApp.plantation.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'PlantationCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-plantation"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('monpotagerApp.plantation.home.createLabel')"> Create a new Plantation </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && plantations && plantations.length === 0">
      <span v-text="$t('monpotagerApp.plantation.home.notFound')">No plantations found</span>
    </div>
    <div class="table-responsive" v-if="plantations && plantations.length > 0">
      <table class="table table-striped" aria-describedby="plantations">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('indexParcelle')">
              <span v-text="$t('monpotagerApp.plantation.indexParcelle')">Index Parcelle</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'indexParcelle'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('parcelle.nom')">
              <span v-text="$t('monpotagerApp.plantation.parcelle')">Parcelle</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'parcelle.nom'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="plantation in plantations" :key="plantation.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'PlantationView', params: { plantationId: plantation.id } }">{{ plantation.id }}</router-link>
            </td>
            <td>{{ plantation.indexParcelle }}</td>
            <td>
              <div v-if="plantation.parcelle">
                <router-link :to="{ name: 'ParcelleView', params: { parcelleId: plantation.parcelle.id } }">{{
                  plantation.parcelle.nom
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'PlantationView', params: { plantationId: plantation.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'PlantationEdit', params: { plantationId: plantation.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(plantation)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="monpotagerApp.plantation.delete.question" data-cy="plantationDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-plantation-heading" v-text="$t('monpotagerApp.plantation.delete.question', { id: removeId })">
          Are you sure you want to delete this Plantation?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-plantation"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removePlantation()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./plantation.component.ts"></script>
