<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="plantation">
        <h2 class="jh-entity-heading" data-cy="plantationDetailsHeading">
          <span v-text="$t('monpotagerApp.plantation.detail.title')">Plantation</span> {{ plantation.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.plantation.indexParcelle')">Index Parcelle</span>
          </dt>
          <dd>
            <span>{{ plantation.indexParcelle }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.plantation.parcelle')">Parcelle</span>
          </dt>
          <dd>
            <div v-if="plantation.parcelle">
              <router-link :to="{ name: 'ParcelleView', params: { parcelleId: plantation.parcelle.id } }">{{
                plantation.parcelle.nom
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="plantation.id"
          :to="{ name: 'PlantationEdit', params: { plantationId: plantation.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./plantation-details.component.ts"></script>
