<template>
  <div class="home row">
    <div class="col-md-3">
      <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
      <div v-if="potagers.length > 1">
        <p>Sélectionnez le potager:</p>
          <b-form-select 
            v-model="potagerActif"
            label-field="nom"
            value-field="id"
            text-field="nom"
            :options="potagers"
            label="Potager"
            @change="changePotagerActif"
            class="mb-5"
          ></b-form-select>
      </div>
      <div>
        <div class="etiquetteTitre">
          {{ taches.length > 0 ? 'Tâches (' + taches.length + ')' : 'Pas de tâche en attente' }}
        </div>
        <div v-if="taches.length > 0">
          <b-table striped hover :items="taches" :fields="fieldsTache">
            <template v-slot:cell(actions)="{ item }">
              <font-awesome-icon class="clickable" icon="check" alt="Marquer comme lu" @click="ackTache(item)"></font-awesome-icon> 
            </template>
          </b-table>
        </div>
      </div>
      <div>
        <div class="etiquetteTitre">
          {{ parcelles.length > 0 ? 'Parcelles (' + parcelles.length + ')' : 'Pas de parcelle' }}
        </div>
        <div v-if="parcelles.length > 0">
          <b-table class="clickable" 
            striped hover 
            :items="parcelles" 
            :fields="fieldsParcelle"
            @row-clicked="ouvreParcelle"
          >
          </b-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./monpotager.component.ts"></script>
