<template>
  <div>
    <h2 id="page-heading" data-cy="TacheHeading">
      <span v-text="$t('monpotagerApp.tache.home.title')" id="tache-heading">Taches</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('monpotagerApp.tache.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'TacheCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-tache"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('monpotagerApp.tache.home.createLabel')"> Create a new Tache </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && taches && taches.length === 0">
      <span v-text="$t('monpotagerApp.tache.home.notFound')">No taches found</span>
    </div>
    <div class="table-responsive" v-if="taches && taches.length > 0">
      <table class="table table-striped" aria-describedby="taches">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('monpotagerApp.tache.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('type')">
              <span v-text="$t('monpotagerApp.tache.type')">Type</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'type'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('echelle')">
              <span v-text="$t('monpotagerApp.tache.echelle')">Echelle</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'echelle'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dateDebut')">
              <span v-text="$t('monpotagerApp.tache.dateDebut')">Date Debut</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateDebut'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dateFin')">
              <span v-text="$t('monpotagerApp.tache.dateFin')">Date Fin</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateFin'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('etat')">
              <span v-text="$t('monpotagerApp.tache.etat')">Etat</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'etat'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('potager.nom')">
              <span v-text="$t('monpotagerApp.tache.potager')">Potager</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'potager.nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('parcelle.nom')">
              <span v-text="$t('monpotagerApp.tache.parcelle')">Parcelle</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'parcelle.nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('conseil.id')">
              <span v-text="$t('monpotagerApp.tache.conseil')">Conseil</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'conseil.id'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tache in taches" :key="tache.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'TacheView', params: { tacheId: tache.id } }">{{ tache.id }}</router-link>
            </td>
            <td>{{ tache.nom }}</td>
            <td v-text="$t('monpotagerApp.typeTache.' + tache.type)">{{ tache.type }}</td>
            <td v-text="$t('monpotagerApp.echelleTache.' + tache.echelle)">{{ tache.echelle }}</td>
            <td>{{ tache.dateDebut }}</td>
            <td>{{ tache.dateFin }}</td>
            <td v-text="$t('monpotagerApp.Etat.' + tache.etat)">{{ tache.etat }}</td>
            <td>
              <div v-if="tache.potager">
                <router-link :to="{ name: 'PotagerView', params: { potagerId: tache.potager.id } }">{{ tache.potager.nom }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="tache.parcelle">
                <router-link :to="{ name: 'ParcelleView', params: { parcelleId: tache.parcelle.id } }">{{
                  tache.parcelle.nom
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="tache.conseil">
                <router-link :to="{ name: 'ConseilView', params: { conseilId: tache.conseil.id } }">{{ tache.conseil.id }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'TacheView', params: { tacheId: tache.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'TacheEdit', params: { tacheId: tache.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(tache)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
        <infinite-loading
          ref="infiniteLoading"
          v-if="totalItems > itemsPerPage"
          :identifier="infiniteId"
          slot="append"
          @infinite="loadMore"
          force-use-infinite-wrapper=".el-table__body-wrapper"
          :distance="20"
        >
        </infinite-loading>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="monpotagerApp.tache.delete.question" data-cy="tacheDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-tache-heading" v-text="$t('monpotagerApp.tache.delete.question', { id: removeId })">
          Are you sure you want to delete this Tache?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-tache"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeTache()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./tache.component.ts"></script>
