<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.tache.home.createOrEditLabel"
          data-cy="TacheCreateUpdateHeading"
          v-text="$t('monpotagerApp.tache.home.createOrEditLabel')"
        >
          Create or edit a Tache
        </h2>
        <div>
          <div class="form-group" v-if="tache.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="tache.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.nom')" for="tache-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="tache-nom"
              data-cy="nom"
              :class="{ valid: !$v.tache.nom.$invalid, invalid: $v.tache.nom.$invalid }"
              v-model="$v.tache.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.type')" for="tache-type">Type</label>
            <select
              class="form-control"
              name="type"
              :class="{ valid: !$v.tache.type.$invalid, invalid: $v.tache.type.$invalid }"
              v-model="$v.tache.type.$model"
              id="tache-type"
              data-cy="type"
            >
              <option
                v-for="typeTache in typeTacheValues"
                :key="typeTache"
                v-bind:value="typeTache"
                v-bind:label="$t('monpotagerApp.typeTache.' + typeTache)"
              >
                {{ typeTache }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.echelle')" for="tache-echelle">Echelle</label>
            <select
              class="form-control"
              name="echelle"
              :class="{ valid: !$v.tache.echelle.$invalid, invalid: $v.tache.echelle.$invalid }"
              v-model="$v.tache.echelle.$model"
              id="tache-echelle"
              data-cy="echelle"
            >
              <option
                v-for="echelleTache in echelleTacheValues"
                :key="echelleTache"
                v-bind:value="echelleTache"
                v-bind:label="$t('monpotagerApp.echelleTache.' + echelleTache)"
              >
                {{ echelleTache }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.dateDebut')" for="tache-dateDebut">Date Debut</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="tache-dateDebut"
                  v-model="$v.tache.dateDebut.$model"
                  name="dateDebut"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="tache-dateDebut"
                data-cy="dateDebut"
                type="text"
                class="form-control"
                name="dateDebut"
                :class="{ valid: !$v.tache.dateDebut.$invalid, invalid: $v.tache.dateDebut.$invalid }"
                v-model="$v.tache.dateDebut.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.dateFin')" for="tache-dateFin">Date Fin</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="tache-dateFin"
                  v-model="$v.tache.dateFin.$model"
                  name="dateFin"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="tache-dateFin"
                data-cy="dateFin"
                type="text"
                class="form-control"
                name="dateFin"
                :class="{ valid: !$v.tache.dateFin.$invalid, invalid: $v.tache.dateFin.$invalid }"
                v-model="$v.tache.dateFin.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.etat')" for="tache-etat">Etat</label>
            <select
              class="form-control"
              name="etat"
              :class="{ valid: !$v.tache.etat.$invalid, invalid: $v.tache.etat.$invalid }"
              v-model="$v.tache.etat.$model"
              id="tache-etat"
              data-cy="etat"
            >
              <option v-for="etat in etatValues" :key="etat" v-bind:value="etat" v-bind:label="$t('monpotagerApp.Etat.' + etat)">
                {{ etat }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.potager')" for="tache-potager">Potager</label>
            <select class="form-control" id="tache-potager" data-cy="potager" name="potager" v-model="tache.potager">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="tache.potager && potagerOption.id === tache.potager.id ? tache.potager : potagerOption"
                v-for="potagerOption in potagers"
                :key="potagerOption.id"
              >
                {{ potagerOption.nom }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.parcelle')" for="tache-parcelle">Parcelle</label>
            <select class="form-control" id="tache-parcelle" data-cy="parcelle" name="parcelle" v-model="tache.parcelle">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="tache.parcelle && parcelleOption.id === tache.parcelle.id ? tache.parcelle : parcelleOption"
                v-for="parcelleOption in parcelles"
                :key="parcelleOption.id"
              >
                {{ parcelleOption.nom }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.tache.conseil')" for="tache-conseil">Conseil</label>
            <select class="form-control" id="tache-conseil" data-cy="conseil" name="conseil" v-model="tache.conseil">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="tache.conseil && conseilOption.id === tache.conseil.id ? tache.conseil : conseilOption"
                v-for="conseilOption in conseils"
                :key="conseilOption.id"
              >
                {{ conseilOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.tache.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./tache-update.component.ts"></script>
