<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="tache">
        <h2 class="jh-entity-heading" data-cy="tacheDetailsHeading">
          <span v-text="$t('monpotagerApp.tache.detail.title')">Tache</span> {{ tache.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.tache.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ tache.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.type')">Type</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.typeTache.' + tache.type)">{{ tache.type }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.echelle')">Echelle</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.echelleTache.' + tache.echelle)">{{ tache.echelle }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.dateDebut')">Date Debut</span>
          </dt>
          <dd>
            <span>{{ tache.dateDebut }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.dateFin')">Date Fin</span>
          </dt>
          <dd>
            <span>{{ tache.dateFin }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.etat')">Etat</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.Etat.' + tache.etat)">{{ tache.etat }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.potager')">Potager</span>
          </dt>
          <dd>
            <div v-if="tache.potager">
              <router-link :to="{ name: 'PotagerView', params: { potagerId: tache.potager.id } }">{{ tache.potager.nom }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.parcelle')">Parcelle</span>
          </dt>
          <dd>
            <div v-if="tache.parcelle">
              <router-link :to="{ name: 'ParcelleView', params: { parcelleId: tache.parcelle.id } }">{{ tache.parcelle.nom }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.tache.conseil')">Conseil</span>
          </dt>
          <dd>
            <div v-if="tache.conseil">
              <router-link :to="{ name: 'ConseilView', params: { conseilId: tache.conseil.id } }">{{ tache.conseil.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="tache.id" :to="{ name: 'TacheEdit', params: { tacheId: tache.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./tache-details.component.ts"></script>
