<template>
  <div>
    <b-dropdown-item to="/potager">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.potager')">Potager</span>
    </b-dropdown-item>
    <b-dropdown-item to="/parcelle">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.parcelle')">Parcelle</span>
    </b-dropdown-item>
    <b-dropdown-item to="/plante">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.plante')">Plante</span>
    </b-dropdown-item>
    <b-dropdown-item to="/plantation">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.plantation')">Plantation</span>
    </b-dropdown-item>
    <b-dropdown-item to="/tache">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.tache')">Tache</span>
    </b-dropdown-item>
    <b-dropdown-item to="/culture">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.culture')">Culture</span>
    </b-dropdown-item>
    <b-dropdown-item to="/conseil">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.conseil')">Conseil</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
