<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="parcelle">
        <h2 class="jh-entity-heading" data-cy="parcelleDetailsHeading">
          <span v-text="$t('monpotagerApp.parcelle.detail.title')">Parcelle</span> {{ parcelle.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ parcelle.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.longueur')">Longueur</span>
          </dt>
          <dd>
            <span>{{ parcelle.longueur }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.largeur')">Largeur</span>
          </dt>
          <dd>
            <span>{{ parcelle.largeur }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.ensoleillement')">Ensoleillement</span>
          </dt>
          <dd>
            <span v-text="$t('monpotagerApp.exposition.' + parcelle.ensoleillement)">{{ parcelle.ensoleillement }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.nbPlantationLongueur')">Nb Plantation Longueur</span>
          </dt>
          <dd>
            <span>{{ parcelle.nbPlantationLongueur }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.nbPlantationLargeur')">Nb Plantation Largeur</span>
          </dt>
          <dd>
            <span>{{ parcelle.nbPlantationLargeur }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.parcelle.potager')">Potager</span>
          </dt>
          <dd>
            <div v-if="parcelle.potager">
              <router-link :to="{ name: 'PotagerView', params: { potagerId: parcelle.potager.id } }">{{
                parcelle.potager.nom
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="parcelle.id" :to="{ name: 'ParcelleEdit', params: { parcelleId: parcelle.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./parcelle-details.component.ts"></script>
