<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.parcelle.home.createOrEditLabel"
          data-cy="ParcelleCreateUpdateHeading"
          v-text="$t('monpotagerApp.parcelle.home.createOrEditLabel')"
        >
          Create or edit a Parcelle
        </h2>
        <div>
          <div class="form-group" v-if="parcelle.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="parcelle.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.nom')" for="parcelle-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="parcelle-nom"
              data-cy="nom"
              :class="{ valid: !$v.parcelle.nom.$invalid, invalid: $v.parcelle.nom.$invalid }"
              v-model="$v.parcelle.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.longueur')" for="parcelle-longueur">Longueur</label>
            <input
              type="number"
              class="form-control"
              name="longueur"
              id="parcelle-longueur"
              data-cy="longueur"
              :class="{ valid: !$v.parcelle.longueur.$invalid, invalid: $v.parcelle.longueur.$invalid }"
              v-model.number="$v.parcelle.longueur.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.largeur')" for="parcelle-largeur">Largeur</label>
            <input
              type="number"
              class="form-control"
              name="largeur"
              id="parcelle-largeur"
              data-cy="largeur"
              :class="{ valid: !$v.parcelle.largeur.$invalid, invalid: $v.parcelle.largeur.$invalid }"
              v-model.number="$v.parcelle.largeur.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.ensoleillement')" for="parcelle-ensoleillement"
              >Ensoleillement</label
            >
            <select
              class="form-control"
              name="ensoleillement"
              :class="{ valid: !$v.parcelle.ensoleillement.$invalid, invalid: $v.parcelle.ensoleillement.$invalid }"
              v-model="$v.parcelle.ensoleillement.$model"
              id="parcelle-ensoleillement"
              data-cy="ensoleillement"
            >
              <option
                v-for="exposition in expositionValues"
                :key="exposition"
                v-bind:value="exposition"
                v-bind:label="$t('monpotagerApp.exposition.' + exposition)"
              >
                {{ exposition }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.nbPlantationLongueur')" for="parcelle-nbPlantationLongueur"
              >Nb Plantation Longueur</label
            >
            <input
              type="number"
              class="form-control"
              name="nbPlantationLongueur"
              id="parcelle-nbPlantationLongueur"
              data-cy="nbPlantationLongueur"
              :class="{ valid: !$v.parcelle.nbPlantationLongueur.$invalid, invalid: $v.parcelle.nbPlantationLongueur.$invalid }"
              v-model.number="$v.parcelle.nbPlantationLongueur.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.nbPlantationLargeur')" for="parcelle-nbPlantationLargeur"
              >Nb Plantation Largeur</label
            >
            <input
              type="number"
              class="form-control"
              name="nbPlantationLargeur"
              id="parcelle-nbPlantationLargeur"
              data-cy="nbPlantationLargeur"
              :class="{ valid: !$v.parcelle.nbPlantationLargeur.$invalid, invalid: $v.parcelle.nbPlantationLargeur.$invalid }"
              v-model.number="$v.parcelle.nbPlantationLargeur.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.parcelle.potager')" for="parcelle-potager">Potager</label>
            <select class="form-control" id="parcelle-potager" data-cy="potager" name="potager" v-model="parcelle.potager">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="parcelle.potager && potagerOption.id === parcelle.potager.id ? parcelle.potager : potagerOption"
                v-for="potagerOption in potagers"
                :key="potagerOption.id"
              >
                {{ potagerOption.nom }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.parcelle.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./parcelle-update.component.ts"></script>
