<template>
  <div>
    <h2 id="page-heading" data-cy="ParcelleHeading">
      <span v-text="$t('monpotagerApp.parcelle.home.title')" id="parcelle-heading">Parcelles</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('monpotagerApp.parcelle.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'ParcelleCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-parcelle"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('monpotagerApp.parcelle.home.createLabel')"> Create a new Parcelle </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && parcelles && parcelles.length === 0">
      <span v-text="$t('monpotagerApp.parcelle.home.notFound')">No parcelles found</span>
    </div>
    <div class="table-responsive" v-if="parcelles && parcelles.length > 0">
      <table class="table table-striped" aria-describedby="parcelles">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('monpotagerApp.parcelle.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('longueur')">
              <span v-text="$t('monpotagerApp.parcelle.longueur')">Longueur</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'longueur'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('largeur')">
              <span v-text="$t('monpotagerApp.parcelle.largeur')">Largeur</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'largeur'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('ensoleillement')">
              <span v-text="$t('monpotagerApp.parcelle.ensoleillement')">Ensoleillement</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'ensoleillement'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nbPlantationLongueur')">
              <span v-text="$t('monpotagerApp.parcelle.nbPlantationLongueur')">Nb Plantation Longueur</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nbPlantationLongueur'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nbPlantationLargeur')">
              <span v-text="$t('monpotagerApp.parcelle.nbPlantationLargeur')">Nb Plantation Largeur</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nbPlantationLargeur'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('potager.nom')">
              <span v-text="$t('monpotagerApp.parcelle.potager')">Potager</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'potager.nom'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="parcelle in parcelles" :key="parcelle.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'ParcelleView', params: { parcelleId: parcelle.id } }">{{ parcelle.id }}</router-link>
            </td>
            <td>{{ parcelle.nom }}</td>
            <td>{{ parcelle.longueur }}</td>
            <td>{{ parcelle.largeur }}</td>
            <td v-text="$t('monpotagerApp.exposition.' + parcelle.ensoleillement)">{{ parcelle.ensoleillement }}</td>
            <td>{{ parcelle.nbPlantationLongueur }}</td>
            <td>{{ parcelle.nbPlantationLargeur }}</td>
            <td>
              <div v-if="parcelle.potager">
                <router-link :to="{ name: 'PotagerView', params: { potagerId: parcelle.potager.id } }">{{
                  parcelle.potager.nom
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'ParcelleView', params: { parcelleId: parcelle.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'ParcelleEdit', params: { parcelleId: parcelle.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(parcelle)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="monpotagerApp.parcelle.delete.question" data-cy="parcelleDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-parcelle-heading" v-text="$t('monpotagerApp.parcelle.delete.question', { id: removeId })">
          Are you sure you want to delete this Parcelle?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-parcelle"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeParcelle()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="parcelles && parcelles.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./parcelle.component.ts"></script>
