<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="conseil">
        <h2 class="jh-entity-heading" data-cy="conseilDetailsHeading">
          <span v-text="$t('monpotagerApp.conseil.detail.title')">Conseil</span> {{ conseil.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.conseil.dateDebutPeriode')">Date Debut Periode</span>
          </dt>
          <dd>
            <span>{{ conseil.dateDebutPeriode }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.conseil.dateFinPeriode')">Date Fin Periode</span>
          </dt>
          <dd>
            <span>{{ conseil.dateFinPeriode }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="conseil.id" :to="{ name: 'ConseilEdit', params: { conseilId: conseil.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./conseil-details.component.ts"></script>
