<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.conseil.home.createOrEditLabel"
          data-cy="ConseilCreateUpdateHeading"
          v-text="$t('monpotagerApp.conseil.home.createOrEditLabel')"
        >
          Create or edit a Conseil
        </h2>
        <div>
          <div class="form-group" v-if="conseil.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="conseil.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.conseil.dateDebutPeriode')" for="conseil-dateDebutPeriode"
              >Date Debut Periode</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="conseil-dateDebutPeriode"
                  v-model="$v.conseil.dateDebutPeriode.$model"
                  name="dateDebutPeriode"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="conseil-dateDebutPeriode"
                data-cy="dateDebutPeriode"
                type="text"
                class="form-control"
                name="dateDebutPeriode"
                :class="{ valid: !$v.conseil.dateDebutPeriode.$invalid, invalid: $v.conseil.dateDebutPeriode.$invalid }"
                v-model="$v.conseil.dateDebutPeriode.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.conseil.dateFinPeriode')" for="conseil-dateFinPeriode"
              >Date Fin Periode</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="conseil-dateFinPeriode"
                  v-model="$v.conseil.dateFinPeriode.$model"
                  name="dateFinPeriode"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="conseil-dateFinPeriode"
                data-cy="dateFinPeriode"
                type="text"
                class="form-control"
                name="dateFinPeriode"
                :class="{ valid: !$v.conseil.dateFinPeriode.$invalid, invalid: $v.conseil.dateFinPeriode.$invalid }"
                v-model="$v.conseil.dateFinPeriode.$model"
              />
            </b-input-group>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.conseil.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./conseil-update.component.ts"></script>
