<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="potager">
        <h2 class="jh-entity-heading" data-cy="potagerDetailsHeading">
          <span v-text="$t('monpotagerApp.potager.detail.title')">Potager</span> {{ potager.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.potager.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ potager.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.potager.longitude')">Longitude</span>
          </dt>
          <dd>
            <span>{{ potager.longitude }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.potager.latitude')">Latitude</span>
          </dt>
          <dd>
            <span>{{ potager.latitude }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="potager.id" :to="{ name: 'PotagerEdit', params: { potagerId: potager.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./potager-details.component.ts"></script>
