<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.potager.home.createOrEditLabel"
          data-cy="PotagerCreateUpdateHeading"
          v-text="$t('monpotagerApp.potager.home.createOrEditLabel')"
        >
          Create or edit a Potager
        </h2>
        <div>
          <div class="form-group" v-if="potager.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="potager.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.potager.nom')" for="potager-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="potager-nom"
              data-cy="nom"
              :class="{ valid: !$v.potager.nom.$invalid, invalid: $v.potager.nom.$invalid }"
              v-model="$v.potager.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.potager.longitude')" for="potager-longitude">Longitude</label>
            <input
              type="text"
              class="form-control"
              name="longitude"
              id="potager-longitude"
              data-cy="longitude"
              :class="{ valid: !$v.potager.longitude.$invalid, invalid: $v.potager.longitude.$invalid }"
              v-model="$v.potager.longitude.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.potager.latitude')" for="potager-latitude">Latitude</label>
            <input
              type="text"
              class="form-control"
              name="latitude"
              id="potager-latitude"
              data-cy="latitude"
              :class="{ valid: !$v.potager.latitude.$invalid, invalid: $v.potager.latitude.$invalid }"
              v-model="$v.potager.latitude.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.potager.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./potager-update.component.ts"></script>
