<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="culture">
        <h2 class="jh-entity-heading" data-cy="cultureDetailsHeading">
          <span v-text="$t('monpotagerApp.culture.detail.title')">Culture</span> {{ culture.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('monpotagerApp.culture.nom')">Nom</span>
          </dt>
          <dd>
            <span>{{ culture.nom }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.culture.dateDebut')">Date Debut</span>
          </dt>
          <dd>
            <span>{{ culture.dateDebut }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.culture.dateFin')">Date Fin</span>
          </dt>
          <dd>
            <span>{{ culture.dateFin }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.culture.dateRecolte')">Date Recolte</span>
          </dt>
          <dd>
            <span>{{ culture.dateRecolte }}</span>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.culture.plantation')">Plantation</span>
          </dt>
          <dd>
            <div v-if="culture.plantation">
              <router-link :to="{ name: 'PlantationView', params: { plantationId: culture.plantation.id } }">{{
                culture.plantation.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('monpotagerApp.culture.plante')">Plante</span>
          </dt>
          <dd>
            <div v-if="culture.plante">
              <router-link :to="{ name: 'PlanteView', params: { planteId: culture.plante.id } }">{{ culture.plante.nom }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="culture.id" :to="{ name: 'CultureEdit', params: { cultureId: culture.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./culture-details.component.ts"></script>
