<template>
  <div>
    <h2 id="page-heading" data-cy="CultureHeading">
      <span v-text="$t('monpotagerApp.culture.home.title')" id="culture-heading">Cultures</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('monpotagerApp.culture.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CultureCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-culture"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('monpotagerApp.culture.home.createLabel')"> Create a new Culture </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && cultures && cultures.length === 0">
      <span v-text="$t('monpotagerApp.culture.home.notFound')">No cultures found</span>
    </div>
    <div class="table-responsive" v-if="cultures && cultures.length > 0">
      <table class="table table-striped" aria-describedby="cultures">
        <thead>
          <tr>
            <th scope="row" v-on:click="changeOrder('id')">
              <span v-text="$t('global.field.id')">ID</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('nom')">
              <span v-text="$t('monpotagerApp.culture.nom')">Nom</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'nom'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dateDebut')">
              <span v-text="$t('monpotagerApp.culture.dateDebut')">Date Debut</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateDebut'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dateFin')">
              <span v-text="$t('monpotagerApp.culture.dateFin')">Date Fin</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateFin'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('dateRecolte')">
              <span v-text="$t('monpotagerApp.culture.dateRecolte')">Date Recolte</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'dateRecolte'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('plantation.id')">
              <span v-text="$t('monpotagerApp.culture.plantation')">Plantation</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'plantation.id'"></jhi-sort-indicator>
            </th>
            <th scope="row" v-on:click="changeOrder('plante.nom')">
              <span v-text="$t('monpotagerApp.culture.plante')">Plante</span>
              <jhi-sort-indicator :current-order="propOrder" :reverse="reverse" :field-name="'plante.nom'"></jhi-sort-indicator>
            </th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="culture in cultures" :key="culture.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CultureView', params: { cultureId: culture.id } }">{{ culture.id }}</router-link>
            </td>
            <td>{{ culture.nom }}</td>
            <td>{{ culture.dateDebut }}</td>
            <td>{{ culture.dateFin }}</td>
            <td>{{ culture.dateRecolte }}</td>
            <td>
              <div v-if="culture.plantation">
                <router-link :to="{ name: 'PlantationView', params: { plantationId: culture.plantation.id } }">{{
                  culture.plantation.id
                }}</router-link>
              </div>
            </td>
            <td>
              <div v-if="culture.plante">
                <router-link :to="{ name: 'PlanteView', params: { planteId: culture.plante.id } }">{{ culture.plante.nom }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'CultureView', params: { cultureId: culture.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'CultureEdit', params: { cultureId: culture.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(culture)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="monpotagerApp.culture.delete.question" data-cy="cultureDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-culture-heading" v-text="$t('monpotagerApp.culture.delete.question', { id: removeId })">
          Are you sure you want to delete this Culture?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-culture"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCulture()"
        >
          Delete
        </button>
      </div>
    </b-modal>
    <div v-show="cultures && cultures.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
      </div>
      <div class="row justify-content-center">
        <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./culture.component.ts"></script>
