<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="monpotagerApp.culture.home.createOrEditLabel"
          data-cy="CultureCreateUpdateHeading"
          v-text="$t('monpotagerApp.culture.home.createOrEditLabel')"
        >
          Create or edit a Culture
        </h2>
        <div>
          <div class="form-group" v-if="culture.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="culture.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.nom')" for="culture-nom">Nom</label>
            <input
              type="text"
              class="form-control"
              name="nom"
              id="culture-nom"
              data-cy="nom"
              :class="{ valid: !$v.culture.nom.$invalid, invalid: $v.culture.nom.$invalid }"
              v-model="$v.culture.nom.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.dateDebut')" for="culture-dateDebut">Date Debut</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="culture-dateDebut"
                  v-model="$v.culture.dateDebut.$model"
                  name="dateDebut"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="culture-dateDebut"
                data-cy="dateDebut"
                type="text"
                class="form-control"
                name="dateDebut"
                :class="{ valid: !$v.culture.dateDebut.$invalid, invalid: $v.culture.dateDebut.$invalid }"
                v-model="$v.culture.dateDebut.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.dateFin')" for="culture-dateFin">Date Fin</label>
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="culture-dateFin"
                  v-model="$v.culture.dateFin.$model"
                  name="dateFin"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="culture-dateFin"
                data-cy="dateFin"
                type="text"
                class="form-control"
                name="dateFin"
                :class="{ valid: !$v.culture.dateFin.$invalid, invalid: $v.culture.dateFin.$invalid }"
                v-model="$v.culture.dateFin.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.dateRecolte')" for="culture-dateRecolte"
              >Date Recolte</label
            >
            <b-input-group class="mb-3">
              <b-input-group-prepend>
                <b-form-datepicker
                  aria-controls="culture-dateRecolte"
                  v-model="$v.culture.dateRecolte.$model"
                  name="dateRecolte"
                  class="form-control"
                  :locale="currentLanguage"
                  button-only
                  today-button
                  reset-button
                  close-button
                >
                </b-form-datepicker>
              </b-input-group-prepend>
              <b-form-input
                id="culture-dateRecolte"
                data-cy="dateRecolte"
                type="text"
                class="form-control"
                name="dateRecolte"
                :class="{ valid: !$v.culture.dateRecolte.$invalid, invalid: $v.culture.dateRecolte.$invalid }"
                v-model="$v.culture.dateRecolte.$model"
              />
            </b-input-group>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.plantation')" for="culture-plantation">Plantation</label>
            <select class="form-control" id="culture-plantation" data-cy="plantation" name="plantation" v-model="culture.plantation">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="culture.plantation && plantationOption.id === culture.plantation.id ? culture.plantation : plantationOption"
                v-for="plantationOption in plantations"
                :key="plantationOption.id"
              >
                {{ plantationOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('monpotagerApp.culture.plante')" for="culture-plante">Plante</label>
            <select class="form-control" id="culture-plante" data-cy="plante" name="plante" v-model="culture.plante">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="culture.plante && planteOption.id === culture.plante.id ? culture.plante : planteOption"
                v-for="planteOption in plantes"
                :key="planteOption.id"
              >
                {{ planteOption.nom }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.culture.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./culture-update.component.ts"></script>
