<template>
<div>
  <div class="row justify-content-between">
    <div class="col-md-1">
      <div class="retour-lien">
        <font-awesome-icon class="clickable" icon="backward" @click="retour">Retour</font-awesome-icon> 
      </div>
    </div>
    <div class="col-md-3" v-if="parcelle">
      <div class="etiquetteTitre">
        <h3>{{ parcelle.nom }}</h3>
      </div>
    </div>
    <div class="col-md-6" v-if="parcelle">
      <div>
        <label for="date-visualisation">Choisissez la date à visualiser</label>
        <b-form-datepicker id="date-visualisation" v-model="dateVisualisation" class="mb-2" @input="getPlantationsParcelle"></b-form-datepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bordPotager">
        <div style="width:100%;height:100%;" v-if="plantationsCulture">
          <grid-layout
            :layout.sync="casePlantations"
            :col-num="parcelle.nbPlantationLongueur"
            :maxRows="parcelle.nbPlantationLargeur"
            :row-height="80"
            :responsive="false"
            :is-draggable="false"
            :is-resizable="false"
            :is-mirrored="false"
            :vertical-compact="false"
            :margin="[0, 0]"
            :use-css-transforms="false"
          >

            <grid-item v-for="casePlantation in casePlantations"
                      :x="casePlantation.x"
                      :y="casePlantation.y"
                      :w="casePlantation.w"
                      :h="casePlantation.h"
                      :i="casePlantation.i"
                      :key="casePlantation.i"
            >
              <span class="imageCasePlantation clickable" @click="voirPlanteCase(casePlantation)">
                <b-img class="imageCasePlantation" :src="casePlantation.image" :alt="casePlantation.nomPlante"></b-img>
              </span>
            </grid-item>
          </grid-layout>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 1rem;">
        <div class="etiquetteTitre">
            {{ taches.length > 0 ? 'Tâches (' + taches.length + ')' : 'Pas de tâche en attente' }}
        </div>
        <div v-if="taches.length > 0">
          <b-table striped hover :items="taches" :fields="fieldsTache">
            <template v-slot:cell(actions)="{ item }">
              <font-awesome-icon class="clickable" icon="check" alt="Marquer comme lu" @click="ackTache(item)"></font-awesome-icon> 
            </template>
          </b-table>
        </div>
      </div>
    </div>
    <div>
      <b-modal v-model="ouvreCasePlantation" centered title="Emplacement de plantation">
        <div class="modal-body">
          <div class="d-block text-center" v-if="casePlantationOuverte.plante != null">
            <div v-show="!formPlanter">
              <h4>{{casePlantationOuverte.nomCulture}}</h4>
              <b-img class="" :src="casePlantationOuverte.plante.image" :alt="casePlantationOuverte.plante.nom"></b-img>
              <p>Date de plantation : {{casePlantationOuverte.dateDebut}}</p>
              <p>Date de récolte prévue :{{casePlantationOuverte.dateFin}}</p>
              <p>Catégorie de plante :{{casePlantationOuverte.plante.categorie}}</p>
              <p>Nom de la plante :{{casePlantationOuverte.plante.nom}}</p>
            </div> 
          </div>
          <div class="d-block text-center" v-else>
            <div v-show="!formPlanter"><h4>{{casePlantationOuverte.nomCulture}}</h4></div>
            <div v-show="formPlanter">
              <form name="editForm" role="form" novalidate v-on:submit.prevent="lancerPlantation">
                <div>
                <div class="form-group">
                  <label class="form-control-label" v-text="$t('monpotagerApp.culture.nom')" for="culture-nom">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    name="nom"
                    id="culture-nom"
                    data-cy="nom"
                    :class="{ valid: !nouvelleCulture.nom, invalid: nouvelleCulture.nom }"
                    v-model="nouvelleCulture.nom"
                  />
                </div>
                </div>
                <div>
                <div class="form-group">
                  <label class="form-control-label" v-text="$t('monpotagerApp.culture.dateDebut')" for="culture-dateDebut">Date Debut</label>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-form-datepicker
                        aria-controls="culture-dateDebut"
                        v-model="nouvelleCulture.dateDebut"
                        name="dateDebut"
                        class="form-control"
                        button-only
                        today-button
                        reset-button
                        close-button
                      >
                      </b-form-datepicker>
                    </b-input-group-prepend>
                    <b-form-input
                      id="culture-dateDebut"
                      data-cy="dateDebut"
                      type="text"
                      class="form-control"
                      name="dateDebut"
                      :class="{ valid: !nouvelleCulture.dateDebut, invalid: nouvelleCulture.dateDebut }"
                      v-model="nouvelleCulture.dateDebut"
                    />
                  </b-input-group>
                </div>
                <div class="form-group">
                  <label class="form-control-label" v-text="$t('monpotagerApp.culture.dateFin')" for="culture-dateFin">Date Fin</label>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-form-datepicker
                        aria-controls="culture-dateFin"
                        v-model="nouvelleCulture.dateFin"
                        name="dateFin"
                        class="form-control"
                        button-only
                        today-button
                        reset-button
                        close-button
                      >
                      </b-form-datepicker>
                    </b-input-group-prepend>
                    <b-form-input
                      id="culture-dateFin"
                      data-cy="dateFin"
                      type="text"
                      class="form-control"
                      name="dateFin"
                      :class="{ valid: !nouvelleCulture.dateFin, invalid: nouvelleCulture.dateFin }"
                      v-model="nouvelleCulture.dateFin"
                    />
                  </b-input-group>
                </div>
                <div class="form-group">
                  <label class="form-control-label" v-text="$t('monpotagerApp.culture.plante')" for="culture-plante">Plante</label>
                  <select class="form-control" id="culture-plante" data-cy="plante" name="plante" v-model="nouvelleCulture.plante">
                    <option
                      v-for="planteOption in plantes"
                      :key="planteOption.id"
                      :value="planteOption"
                    >
                      {{ planteOption.nom }}
                    </option>
                  </select>
                </div>
                <button ref="submit" style="display:none;"></button>
              </div>
            </form>
            </div>           
          </div>
        </div>
        <div slot="modal-footer">
          <div class="d-block text-center" v-if="casePlantationOuverte.plante != null">             
            <b-button variant="warning" size="sm" class="float-right" @click="arracher">ARRACHER</b-button>
            <b-button variant="success" size="sm" class="float-right" @click="recolter">RECOLTER</b-button>
          </div>
          <div class="d-block text-center" v-else>
            <b-button v-if="!formPlanter" variant="success" size="sm" class="float-right" @click="formPlanter=true">PLANTER</b-button>
            <b-button v-if="formPlanter" variant="success" size="sm" class="float-right" @click="confirmerPlantation">CONFIRMER</b-button>
          </div>
          <b-button variant="info" size="sm" class="float-right" @click="ouvreCasePlantation=false">FERMER</b-button>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script lang="ts" src="./parcelle.component.ts"></script>
